{
  "presets": [
    [
      "@babel/preset-env",
      {
        "corejs": 3,
        "spec": true,
        "useBuiltIns": "usage",
        "targets": {
          "node": "6",
          "browsers": [
            "ie >= 11",
            "last 3 chrome major versions",
            "last 3 chromeandroid major versions",
            "last 3 edge major versions",
            "last 3 firefox major versions",
            "last 3 ios major versions",
            "last 3 safari major versions"
          ]
        }
      }
    ],
    "@babel/preset-typescript",
    "@babel/preset-react"
  ],
  "plugins": [
    "babel-plugin-macros",
    "babel-plugin-transform-typescript-metadata",
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose": true }],
    "@babel/plugin-proposal-optional-chaining",
    "@babel/plugin-transform-runtime",
    [
      "babel-plugin-inline-import",
      {
        "extensions": [".pegjs"]
      }
    ],
    [
      "babel-plugin-module-resolver",
      {
        "root": ["./"],
        "alias": {
          "~": "./src",
          "~tests": "./tests"
        }
      }
    ]
  ],
  "env": {
    "esm": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "corejs": 3,
            "modules": false,
            "spec": true,
            "useBuiltIns": "usage",
            "targets": {
              "node": "6",
              "browsers": [
                "ie >= 11",
                "last 3 chrome major versions",
                "last 3 chromeandroid major versions",
                "last 3 edge major versions",
                "last 3 firefox major versions",
                "last 3 ios major versions",
                "last 3 safari major versions"
              ]
            }
          }
        ]
      ],
      "ignore": [
        "**/*.d.ts",
        "**/*.d.tsx",
        "**/*.spec.js",
        "**/*.spec.jsx",
        "**/*.spec.ts",
        "**/*.spec.tsx",
        "**/*.test.js",
        "**/*.test.jsx",
        "**/*.test.ts",
        "**/*.test.tsx",
        "src/@types"
      ]
    },
    "umd": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "corejs": 3,
            "modules": "umd",
            "spec": true,
            "useBuiltIns": "usage",
            "targets": {
              "node": "6",
              "browsers": [
                "ie >= 11",
                "last 3 chrome major versions",
                "last 3 chromeandroid major versions",
                "last 3 edge major versions",
                "last 3 firefox major versions",
                "last 3 ios major versions",
                "last 3 safari major versions"
              ]
            }
          }
        ]
      ],
      "ignore": [
        "**/*.d.ts",
        "**/*.d.tsx",
        "**/*.spec.js",
        "**/*.spec.jsx",
        "**/*.spec.ts",
        "**/*.spec.tsx",
        "**/*.test.js",
        "**/*.test.jsx",
        "**/*.test.ts",
        "**/*.test.tsx",
        "src/@types"
      ]
    }
  }
}
