{
  "presets": [
    [
      "jam",
      {
        "targets": {
          "node": "6"
        }
      }
    ],
    "@babel/typescript",
    "@babel/react"
  ],
  "plugins": ["typescript-to-proptypes"]
}
